footer{
    background-color:#27303b ;
    color: whitesmoke;
   padding-left: 300px;
    padding-top: 30px;
    margin-top: 70px;
   padding-bottom: 30px;
}
.sub-headings{
    margin-top: 50px;
}
.footer-links{
   padding-right: 30px;
}
.footer-nav{
    margin-top: 20px;
}